---
layout: default
title: Projects
---

<section>
    <h3>Active Projects</h3>
    <div class="card-columns">
        {% comment %}
        Sort the projects by date, putting those without dates last
        {% endcomment %}
        {% assign projects_by_date = site.other_projects | where: 'inactive', nil | sort: 'last-updated', 'first' %}
        {% assign projects_by_date = projects_by_date | reverse %}
        {% for p in projects_by_date %}
            {% include project-card.html project=p %}
        {% endfor %}
    </div>
</section>

<section>
    <h3>Completed Projects</h3>
    <div class="card-columns">
        {% comment %}
        Sort the projects by date, putting those without dates last
        {% endcomment %}
        {% assign projects_by_date = site.other_projects | where: 'inactive', true | sort: 'last-updated', 'first' %}
        {% assign projects_by_date = projects_by_date | reverse %}
        {% for p in projects_by_date %}
            {% include project-card.html project=p %}
        {% endfor %}
    </div>
</section>